<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block page_title %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="{% block meta_author %}{% endblock %}" />
	<meta name="copyright" content="{% block meta_copyright %}{% endblock %}" />
	<meta name="robots" content="{% block meta_robots %}index, follow{% endblock %}" />
	<meta name="description" content="{% block meta_description %}{% endblock %}" />
	<meta name="keywords" content="{% block meta_keywords %}{% endblock %}" />

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>

	<link rel="stylesheet" href="{{ STATIC_URL }}css/print.css" type="text/css" media="print" />    
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    
	<link rel="stylesheet" href="{{ STATIC_URL }}css/hid.css" type="text/css" rel="stylesheet"> 

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          
		  <a class="brand" href="{% url dashboard %}">Identifier Generator</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
			  {% if has_assigned_site %}
		      {% if user.is_authenticated %}
			      <li><a href="{% url request-id %}">Request Identifiers</a></li>
			      <li><a href="{% url report %}">Report</a></li>
			      <li><a href="{% url loggerng-index %}">Message Log</a></li>
              {% endif %}
              {% endif %}
            </ul>
            <ul class="nav pull-right">
               {% if user.is_authenticated %}
                <a data-toggle="dropdown" class="btn dropdown-toggle" href="#">{{ user.username }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li class="divider"></li>
                    <li><a href="{% url logout next_page='/' %}">Sign Out</a></li>
                </ul>
               {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>


    <div id="content-wrapper" class="container-fluid">
		{% block content %} TEST {% endblock %}

      <hr>

      <footer>
        {% block footer %}
				<p>&copy; Modi Research Group</p>
		{% endblock %}
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}bootstrap/js/jquery.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-transition.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-alert.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-modal.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-tab.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-popover.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-button.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-collapse.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-carousel.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-typeahead.js"></script>
		{% block javascripts %}  {% endblock %}
		
  </body>
</html>
