{% extends "base.html" %}
{% load i18n %}

{% block javascripts %}
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}js/ondemand.js"></script>
{% endblock %}
{% block content %}

        {% if batch_list %}
        <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>Site</th>
            <th>Date </th>
            <th>Requested </th>
            <th>#</th>
        </tr>
        </thead>
        <tbody>
        {% for item in batch_list %}
        <tr  id="row_{{ item.pk }}">
            {% include "status_row.html" %}
        </tr>
        {% endfor %}
        </tbody>
        </table>
    {% endif %}
{% endblock %}
