<td>{{ item.site.name }}</td>
            <td>{{ item.created_on|date:"d-M-Y" }}</td>
            <td>{{ item.total_requested }}</td>
            <td>
            {% if item.task_progress == 100 %}
                <a href="{% url printbatch item.pk %}" class="btn btn-info btn-mini"><i class="icon-print"></i>&nbsp;</a>
                <a href="{% url printbatch item.pk %}" class="btn "><i class="icon-list"></i>&nbsp;</a>
             {% elif item.task_progress == 0 %}
                    {{ item.task_progress }}
              {% else %}
                    {{ item.task_progress }}
                    <div class="progress" id="progress_{{item.pk}}">
                        <div class="bar" style="width: {{ item.task_progress }}%;">
                        <span></span>
                        </div>
                    </div>
              {% endif %}
</td>
